@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Flow+Circular&display=swap");

:root{
  --a:0;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.close {
  display: none;
}

body {
  background-color: black;
  color: white;
}

.left {
  width: 25vw;
  position: relative;
}

.left .close {
  position: absolute;
  right: 31px;
  top: 25px;
  width: 29px;
  cursor: pointer;
}

.right {
  width: 75vw;
    background-image: linear-gradient(#1e1e1e, #101010);

}

.home ul li {
  display: flex;
  width: 20px;
  list-style: none;
  gap: 10px;
  padding-top: 15px;
  font-weight: bold;
}

.heading {
  display: flex;
  width: 100%;
  gap: 10px;
  /* padding: 4px 10px; */
  font-weight: bold;
  align-items: center;
  font-size: 12px;
}
.heading img {
  width: 24px;
  padding: 0 5px 0 0;
}

.library {
  min-height: 60vh;
  position: relative;
}

.footer {
  display: flex;
  gap: 5px;
  font-size: 10px;
  position: absolute;
  bottom: 0;
  padding: 10px 0;

  /* margin: 13px 0; */
}

.footer ul li {
  list-style: none;
  display: flex;
}

.footer a {
  color: grey;
}

.header {
  padding: 11px 0px;
  background-color: #101010;
}

.nav {
  display: flex;
  justify-content: space-between;
  /* padding: 30px; */
}

.nav svg {
  width: 30px;
  filter: invert();
  padding: 10px 0px 0 10px;
  opacity: 50%;
}

.spotifyPlaylists {
  padding: 25px;

  /* background-image: linear-gradient(#1e1e1e, #101010); */
}
/* .spotifyPlaylists h1 {
  padding: 25px;
} */

.spotifyPlaylists > h1 {
  font-size: 20px;
  font-weight: bold;
  padding: 0 20px;
}

.cardContainer {
  margin: 10px;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  overflow-y: auto;
  max-height: 60vh;
}

.card {
  padding: 0 10px 10px 10px;
  width: 130px;
  font-size: 10px;
  border-radius: 5px;
  background-color: transparent;
  position: relative;
  transition: all 0.02s ease-in-out;
}

.card:hover{
  background-color: #272525;
  cursor: pointer;
  --a:1;
}

.card img {
  width: 100%;
  object-fit: contain;
}

.card > * {
  padding-top: 5px;
}

.hamburger {
  display: none;
}

.play {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px; /* Adjust the size as needed */
  height: 25px; /* Adjust the size as needed */
  background-color: #1ed760;
  border-radius: 50%;
  position: absolute;
  bottom: 110px;
  right: 20px;
  opacity: var(--a);
  transition: all 1s ease-out;
}

.svg {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

.play svg {
  width: 15px; /* Adjust the size of the SVG as needed */
  height: auto;
  padding: 0px 0px 4px 3px;
}

.signupbtn {
  border: none;
  outline: none;
  background-color: #121212;
  color: #a3a3a3;
  font-weight: bold;
  padding: 0 10px;
  cursor: pointer;
  font-size: 15px;
}

.signupbtn:hover {
  font-size: 16px;
  color: white;
}

.loginbtn {
  border-radius: 30px;
  outline: none;
  font-weight: bold;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
}

.loginbtn:hover {
  opacity: 80%;
}

.playbar {
  position: fixed;
  bottom: 10px;
  width: 70vw;
  min-height: 40px;
  background-color: #1e1e1e;
  padding: 10px;
  border-radius: 10px;
}

.songbuttons {
  filter: invert();
  opacity: 70%;
  display: flex;
  justify-content: center;
  gap: 20px;
}


.songList ul {
  padding: 0 10px;
  font-size: 12px;
  margin: 34px 0;
}

.songList ul li {
  list-style-type: decimal;
  display: flex;
  justify-content: space-between;
  gap: 11px;
  cursor: pointer;

  border: 1px solid white;
  /* margin: 12px 0; */
  padding: 13px;
  border-radius: 5px;
}
.songList {
  height: 480px;
  overflow: auto;
  margin-bottom: 44px;
}



.playnow {
  display: flex;
  justify-content: center;
  align-items: center;
}

.playnow span {
  font-size: 12px;
  width: 52px;
  padding: 3px;
}



.sticky {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}

.seekbar {
  height: 4px;
  width: 70vw;
  background: rgb(179, 177, 177);
  border-radius: 10px;
  position: absolute;
  bottom: 2px;
  cursor: pointer;
}

.circle {
  width: 10px;
  height: 10px;
  border-radius: 13px;
  background-color: white;
  position: relative;
  bottom: 3px;
  left: 0%;
  transition: left 0.5s;
}

.songbuttons img {
  cursor: pointer;
}

.songinfo {
  /* color: black; */
  padding: 0 12px;
  width: 250px;
  word-break: break-all;
}


.songtime {
  width: 125px;
  /* color: black; */
  padding: 0 12px;
}

.timevol{
  display: flex;
  justify-content: center;
  align-items: center;
}



.volume{
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}
.range input{
  cursor: pointer;
}

.abovebar {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}

@media (max-width: 1200px) {
  .left {
    position: absolute;
    left: -120%;
    transition: all 0.3s;
    z-index: 1;
    width: 370px;
    background-color: black;
    padding: 0;
  }

  .right {
    width: 100vw;
  }

  .playbar {
    width: calc(100vw - 40px);
  }

  .seekbar {
    width: calc(100vw - 40px);
  }

  .hamburger {
    display: block;
    cursor: pointer;
  }

  .card {
    width: auto;
  }
  .cardContainer {
    margin: 0;
    justify-content: center;
    max-height: 60vh;
  }
  .right {
    margin: 0;
  }

  .close {
    display: block;
  }

  .abovebar {
    flex-direction: column;
    gap: 23px;
    align-items: center;
  }

  .songinfo,.songtime{
    width: auto;
  }

  .timevol{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    gap: 13px;
  }




}

.hamburgerCont {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}


